/* Listing Page  */
.Description {
  max-height: 50px;
  overflow-y: scroll;
  font-size: 15px;
}

.cart-button {
  background-color: #f2f2df;
  border-style: none;
  padding: 10px;
  width: 100%;
  color: rgb(109, 109, 109);
}
.edit-Button {
  background-color: #f2f2df;
  border-style: none;
  padding: 10px;
  width: 45%;
  color: rgb(109, 109, 109);
}

.delete-button {
  background-color: #f2f2df;
  border-style: none;
  padding: 10px;
  width: 45%;
  color: rgb(109, 109, 109);
}

.cartStyle {
  font-weight: 600;
  text-transform: uppercase;
}
.cartPriceStyle {
  font-weight: 400;
  font-size: 18px;
}

.viewDetailText {
  font-size: 17px;
  font-weight: 500;
}
